.product-item {
    border: 1px solid var(--grey3);
    position: relative;
    transition: box-shadow 0.25s ease-in;
}

.product-item:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.image {
    position: relative;
    min-height: 220px;
}

.product-item-details {
    width: 100%;
    padding: 20px;
}

.product-item-details h3 {
    color: #d83035;
    margin-bottom: 20px;
}

.product-item-action {
    text-align: left;
}

.product-item-action a {
    margin-bottom: 0;
    min-width: 120px;
    padding: 10px 20px;
}
